
/* Navigation Bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}


li.right {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li b {
  display: block;
  color: white;
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

center {
  text-align: center;
  color: rgb(27, 11, 63);
 }

.ol {
  color: rgb(38, 30, 60);
  text-align: center;
  display: grid;
  margin: 0 auto;
  place-items: center;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(142, 126, 148);

}

/*.profile {
  float: left;
  margin-right: 20px; 
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}*/

p {
  margin-bottom: 20px; 
  text-align: center;
  color: rgb(8, 1, 22);
}

.profile img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.header {
    background-color: #282850;
    text-align: center;
    padding: 10px;
  }

.column {
    float: left;
    width: 75%;
    padding: 15px;
  }

.description {
  display: grid;
  place-items: center;
  font-size: medium;
  max-height: min-content;

}

.profilecontainer {
  display: flex;
  align-items: center;
}